examples/180DegGaugeExample.json
[{"id":"958a0f0f58c23a45","type":"group","z":"95da4f71825bb1fc","name":"180 deg Gauge Example","style":{"label":true},"nodes":["0224bbc3dd12b71d","7e5b3572bef2c9f2","0bfe16c02d254f56","01b6393cb9c77ce2","33b281d35ab5ca3c"],"x":54,"y":239,"w":372,"h":202},{"id":"0224bbc3dd12b71d","type":"ui-gauge-classic","z":"95da4f71825bb1fc","g":"958a0f0f58c23a45","name":"180 gauge","group":"c4074b104a5595b8","order":0,"width":"2","height":"1","min":0,"max":10,"sectors":[{"start":"0","color":"#FFD54F"},{"start":"8","color":"#BDBDBD"}],"major_division":1,"minor_division":0.2,"value_decimal_places":1,"scale_decimal_places":0,"label":"","measurement":"","units":"°C","needles":[{"topic":"","color":"black","lengthPercent":"100"}],"sweep_angle":"180","myclass":"","x":330,"y":320,"wires":[]},{"id":"7e5b3572bef2c9f2","type":"inject","z":"95da4f71825bb1fc","g":"958a0f0f58c23a45","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":150,"y":280,"wires":[["0224bbc3dd12b71d"]]},{"id":"0bfe16c02d254f56","type":"inject","z":"95da4f71825bb1fc","g":"958a0f0f58c23a45","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2.5","payloadType":"num","x":150,"y":320,"wires":[["0224bbc3dd12b71d"]]},{"id":"01b6393cb9c77ce2","type":"inject","z":"95da4f71825bb1fc","g":"958a0f0f58c23a45","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"9","payloadType":"num","x":150,"y":360,"wires":[["0224bbc3dd12b71d"]]},{"id":"33b281d35ab5ca3c","type":"inject","z":"95da4f71825bb1fc","g":"958a0f0f58c23a45","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":150,"y":400,"wires":[["0224bbc3dd12b71d"]]},{"id":"c4074b104a5595b8","type":"ui-group","name":"Gauge Examples","page":"a56426f48846598a","width":"6","height":"1","order":-1,"showTitle":false,"className":"","visible":"true","disabled":"false"},{"id":"a56426f48846598a","type":"ui-page","name":"Gauge Examples","ui":"ID-BASE-1","path":"/examples","icon":"home","layout":"grid","theme":"b6221fc08b602ea9","order":-1,"className":"","visible":"true","disabled":"false"},{"id":"ID-BASE-1","type":"ui-base","name":"Dashboard","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-control","ui-notification"]},{"id":"b6221fc08b602ea9","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094ce","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]