examples/Dynamic Text Example.json
[{"id":"320a5e41cb73c45f","type":"group","z":"95da4f71825bb1fc","name":"Dynamic Measurement, Units and Formatted Value Example","style":{"label":true},"nodes":["f9e1fc3b2ef336b4","95a89adf2edad05e","c71c394badadc2cf","acb22fc60efdd816","01012f7c89949601","8f289eeaf8b2dc77","dbf4c7840f6d7481","25717b299148b280"],"x":54,"y":1259,"w":552,"h":342},{"id":"f9e1fc3b2ef336b4","type":"ui-gauge-classic","z":"95da4f71825bb1fc","g":"320a5e41cb73c45f","name":"Dynamic Text example","group":"c4074b104a5595b8","order":0,"width":"3","height":"3","min":"5","max":"30","sectors":[{"start":"5","color":"lightgray"}],"major_division":"5","minor_division":"1","value_decimal_places":1,"scale_decimal_places":0,"label":"","measurement":"Temperature","units":"°C","needles":[{"topic":"","color":"brown","lengthPercent":"100"}],"sweep_angle":250,"myclass":"","x":480,"y":1400,"wires":[]},{"id":"95a89adf2edad05e","type":"inject","z":"95da4f71825bb1fc","g":"320a5e41cb73c45f","name":"Potatoes","props":[{"p":"ui_update","v":"{\"measurement\":\"Potatoes\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":1480,"wires":[["f9e1fc3b2ef336b4"]]},{"id":"c71c394badadc2cf","type":"inject","z":"95da4f71825bb1fc","g":"320a5e41cb73c45f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"22.5","payloadType":"num","x":150,"y":1380,"wires":[["f9e1fc3b2ef336b4"]]},{"id":"acb22fc60efdd816","type":"inject","z":"95da4f71825bb1fc","g":"320a5e41cb73c45f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"27","payloadType":"num","x":150,"y":1420,"wires":[["f9e1fc3b2ef336b4"]]},{"id":"01012f7c89949601","type":"inject","z":"95da4f71825bb1fc","g":"320a5e41cb73c45f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":150,"y":1300,"wires":[["f9e1fc3b2ef336b4"]]},{"id":"8f289eeaf8b2dc77","type":"inject","z":"95da4f71825bb1fc","g":"320a5e41cb73c45f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":150,"y":1340,"wires":[["f9e1fc3b2ef336b4"]]},{"id":"dbf4c7840f6d7481","type":"inject","z":"95da4f71825bb1fc","g":"320a5e41cb73c45f","name":"kg","props":[{"p":"ui_update","v":"{\"units\":\"kg\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":1520,"wires":[["f9e1fc3b2ef336b4"]]},{"id":"25717b299148b280","type":"inject","z":"95da4f71825bb1fc","g":"320a5e41cb73c45f","name":"Grams of gold","props":[{"p":"ui_update","v":"{\"measurement\":\"gold\",\"units\":\"gm\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":1560,"wires":[["f9e1fc3b2ef336b4"]]},{"id":"c4074b104a5595b8","type":"ui-group","name":"Gauge Examples","page":"a56426f48846598a","width":"6","height":"1","order":1,"showTitle":false,"className":"","visible":"true","disabled":"false"},{"id":"a56426f48846598a","type":"ui-page","name":"Gauge Examples","ui":"ID-BASE-1","path":"/examples","icon":"home","layout":"grid","theme":"b6221fc08b602ea9","order":2,"className":"","visible":"true","disabled":"false"},{"id":"ID-BASE-1","type":"ui-base","name":"Dashboard","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-control","ui-notification"]},{"id":"b6221fc08b602ea9","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094ce","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]