examples/Dynamic Sectors Gauge Example.json
[{"id":"c38b69a561f290af","type":"group","z":"95da4f71825bb1fc","name":"Dynamic Sectors Gauge Example","style":{"label":true},"nodes":["e8706e924dcd39c0","63a34f5d3475d0ac","4152aceb8ec9cf2f","2326475a330d282a","a329e530e4797b56","1137f227768652a9","fd722e9fe9c9448e"],"x":54,"y":939,"w":752,"h":302},{"id":"e8706e924dcd39c0","type":"ui-gauge-classic","z":"95da4f71825bb1fc","g":"c38b69a561f290af","name":"Dynamic Sectors example","group":"c4074b104a5595b8","order":0,"width":"3","height":"3","min":"5","max":"30","sectors":[],"major_division":"5","minor_division":"1","value_decimal_places":1,"scale_decimal_places":0,"label":"","measurement":"Temperature","units":"°C","needles":[{"topic":"","color":"black","lengthPercent":"100"}],"sweep_angle":250,"myclass":"","x":670,"y":1080,"wires":[]},{"id":"63a34f5d3475d0ac","type":"inject","z":"95da4f71825bb1fc","g":"c38b69a561f290af","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"22.5","payloadType":"num","x":270,"y":1060,"wires":[["e8706e924dcd39c0"]]},{"id":"4152aceb8ec9cf2f","type":"inject","z":"95da4f71825bb1fc","g":"c38b69a561f290af","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"27","payloadType":"num","x":270,"y":1100,"wires":[["e8706e924dcd39c0"]]},{"id":"2326475a330d282a","type":"inject","z":"95da4f71825bb1fc","g":"c38b69a561f290af","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":270,"y":980,"wires":[["e8706e924dcd39c0"]]},{"id":"a329e530e4797b56","type":"inject","z":"95da4f71825bb1fc","g":"c38b69a561f290af","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":270,"y":1020,"wires":[["e8706e924dcd39c0"]]},{"id":"1137f227768652a9","type":"inject","z":"95da4f71825bb1fc","g":"c38b69a561f290af","name":"No value change, Sectors 0,12,25 yellow, green, grey","props":[{"p":"ui_update","v":"{\"sectors\":[{\"start\":0,\"color\":\"orange\"},{\"start\":12,\"color\":\"green\"},{\"start\":25,\"color\":\"#BDBDBD\"}]}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":300,"y":1200,"wires":[["e8706e924dcd39c0"]]},{"id":"fd722e9fe9c9448e","type":"inject","z":"95da4f71825bb1fc","g":"c38b69a561f290af","name":"Value: 17.5, Sectors 0,25, orange, red","props":[{"p":"ui_update","v":"{\"sectors\":[{\"start\":0,\"color\":\"orange\"},{\"start\":25,\"color\":\"red\"}]}","vt":"json"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"17.5","payloadType":"num","x":250,"y":1160,"wires":[["e8706e924dcd39c0"]]},{"id":"c4074b104a5595b8","type":"ui-group","name":"Gauge Examples","page":"a56426f48846598a","width":"6","height":"1","order":1,"showTitle":false,"className":"","visible":"true","disabled":"false"},{"id":"a56426f48846598a","type":"ui-page","name":"Gauge Examples","ui":"ID-BASE-1","path":"/examples","icon":"home","layout":"grid","theme":"b6221fc08b602ea9","order":2,"className":"","visible":"true","disabled":"false"},{"id":"ID-BASE-1","type":"ui-base","name":"Dashboard","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-control","ui-notification"]},{"id":"b6221fc08b602ea9","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094ce","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]