examples/FastGaugeExample.json
[{"id":"08a04c63d8e59b42","type":"group","z":"95da4f71825bb1fc","name":"Fast Gauge Example","style":{"label":true},"nodes":["6b5db66583cd23df","b3a3d927ee6e299a","8ee7beb68169a2ba","302b50808c7c60bd"],"x":44,"y":79,"w":582,"h":122},{"id":"6b5db66583cd23df","type":"ui-gauge-classic","z":"95da4f71825bb1fc","g":"08a04c63d8e59b42","name":"Fast Gauge","group":"c4074b104a5595b8","order":0,"width":"4","height":"4","min":"-1","max":"1","sectors":[{"start":"-1","color":"skyblue"},{"start":"-0.25","color":"orange"},{"start":"0.25","color":"red"}],"major_division":"0.5","minor_division":"0.1","value_decimal_places":"2","scale_decimal_places":"1","label":"Trig functions","measurement":"Sin/Cos","units":"","needles":[{"topic":"sine","color":"brown","lengthPercent":"100"},{"topic":"cosine","color":"black","lengthPercent":"70"}],"sweep_angle":250,"myclass":"fast-gauge","x":530,"y":120,"wires":[]},{"id":"b3a3d927ee6e299a","type":"function","z":"95da4f71825bb1fc","g":"08a04c63d8e59b42","name":"Generate values","func":"const theta = new Date().getTime()/1000\nnode.send({topic: \"sine\", payload: Math.sin(theta)})\nmsg.topic = \"cosine\"\nmsg.payload = Math.cos(theta)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":120,"wires":[["6b5db66583cd23df"]]},{"id":"8ee7beb68169a2ba","type":"inject","z":"95da4f71825bb1fc","d":true,"g":"08a04c63d8e59b42","name":"Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["b3a3d927ee6e299a"]]},{"id":"302b50808c7c60bd","type":"ui-template","z":"95da4f71825bb1fc","g":"08a04c63d8e59b42","ui":"ID-BASE-1","name":"Needle transition for fast gauge","order":0,"width":0,"height":0,"head":"","format":".fast-gauge .cl-gauge .o-needle{\n    transition: 0.08s;\n}","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"site:style","className":"","x":470,"y":160,"wires":[[]]},{"id":"c4074b104a5595b8","type":"ui-group","name":"Gauge Examples","page":"a56426f48846598a","width":"6","height":"1","order":-1,"showTitle":false,"className":"","visible":"true","disabled":"false"},{"id":"ID-BASE-1","type":"ui-base","name":"Dashboard","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-control","ui-notification"]},{"id":"a56426f48846598a","type":"ui-page","name":"Gauge Examples","ui":"ID-BASE-1","path":"/examples","icon":"home","layout":"grid","theme":"b6221fc08b602ea9","order":-1,"className":"","visible":"true","disabled":"false"},{"id":"b6221fc08b602ea9","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094ce","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]