examples/Multi Needle Gauge Example.json
[{"id":"f4499ae3239bd27b","type":"group","z":"95da4f71825bb1fc","name":"Multi Needle Gauge Example","style":{"label":true},"nodes":["e07bd1337eef8f8b","e5555702e3b0c204","19712eb35de377d6","cabb5e69ed04f6a6","1836dc04670cfdbb","3b747aa0d064b2e1","d72d5005ea77ee47","b50d4247c370a8da","2f55b16ffe7e7308","97c29e3abab3e5a0","f865a1cd2584c001"],"x":54,"y":499,"w":632,"h":482},{"id":"e07bd1337eef8f8b","type":"ui-gauge-classic","z":"95da4f71825bb1fc","g":"f4499ae3239bd27b","name":"Multi needle example","group":"c4074b104a5595b8","order":0,"width":"3","height":"3","min":"5","max":"30","sectors":[{"start":"5","color":"skyblue"},{"start":"15","color":"green"},{"start":"22","color":"red"}],"major_division":"5","minor_division":"1","value_decimal_places":1,"scale_decimal_places":0,"label":"","measurement":"Temperature","units":"°C","needles":[{"topic":"temperature","color":"black","lengthPercent":"100"},{"topic":"setpoint","color":"brown","lengthPercent":"67"},{"topic":"power","color":"gray","lengthPercent":"50"}],"sweep_angle":"250","myclass":"","x":560,"y":780,"wires":[]},{"id":"e5555702e3b0c204","type":"inject","z":"95da4f71825bb1fc","g":"f4499ae3239bd27b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"12","payloadType":"num","x":180,"y":580,"wires":[["e07bd1337eef8f8b"]]},{"id":"19712eb35de377d6","type":"inject","z":"95da4f71825bb1fc","g":"f4499ae3239bd27b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"25","payloadType":"num","x":180,"y":620,"wires":[["e07bd1337eef8f8b"]]},{"id":"cabb5e69ed04f6a6","type":"inject","z":"95da4f71825bb1fc","g":"f4499ae3239bd27b","name":"temperature overrange","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"50","payloadType":"num","x":200,"y":700,"wires":[["e07bd1337eef8f8b"]]},{"id":"1836dc04670cfdbb","type":"inject","z":"95da4f71825bb1fc","g":"f4499ae3239bd27b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"12","payloadType":"num","x":180,"y":660,"wires":[["e07bd1337eef8f8b"]]},{"id":"3b747aa0d064b2e1","type":"inject","z":"95da4f71825bb1fc","g":"f4499ae3239bd27b","name":"temperature underrange","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"0","payloadType":"num","x":210,"y":540,"wires":[["e07bd1337eef8f8b"]]},{"id":"d72d5005ea77ee47","type":"inject","z":"95da4f71825bb1fc","g":"f4499ae3239bd27b","name":"temperature invalid","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"xxx","payloadType":"str","x":190,"y":740,"wires":[["e07bd1337eef8f8b"]]},{"id":"b50d4247c370a8da","type":"inject","z":"95da4f71825bb1fc","g":"f4499ae3239bd27b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"setpoint","payload":"12","payloadType":"num","x":160,"y":800,"wires":[["e07bd1337eef8f8b"]]},{"id":"2f55b16ffe7e7308","type":"inject","z":"95da4f71825bb1fc","g":"f4499ae3239bd27b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"setpoint","payload":"15","payloadType":"num","x":160,"y":840,"wires":[["e07bd1337eef8f8b"]]},{"id":"97c29e3abab3e5a0","type":"inject","z":"95da4f71825bb1fc","g":"f4499ae3239bd27b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"power","payload":"10","payloadType":"num","x":160,"y":900,"wires":[["e07bd1337eef8f8b"]]},{"id":"f865a1cd2584c001","type":"inject","z":"95da4f71825bb1fc","g":"f4499ae3239bd27b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"power","payload":"25","payloadType":"num","x":160,"y":940,"wires":[["e07bd1337eef8f8b"]]},{"id":"c4074b104a5595b8","type":"ui-group","name":"Gauge Examples","page":"a56426f48846598a","width":"6","height":"1","order":-1,"showTitle":false,"className":"","visible":"true","disabled":"false"},{"id":"a56426f48846598a","type":"ui-page","name":"Gauge Examples","ui":"ID-BASE-1","path":"/examples","icon":"home","layout":"grid","theme":"b6221fc08b602ea9","order":-1,"className":"","visible":"true","disabled":"false"},{"id":"ID-BASE-1","type":"ui-base","name":"Dashboard","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-control","ui-notification"]},{"id":"b6221fc08b602ea9","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094ce","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]