examples/Three Needles using formattedValue to show PV Setpoint and Power Example.json
[{"id":"81c59272ffe8392d","type":"group","z":"95da4f71825bb1fc","name":"Three Needle Gauge using formattedValue to show PV Setpoint and Power Example","style":{"label":true},"nodes":["9056ddfab4da441c","b9c4203bda10d364","154e4a4e46c6439f","bf64dcf64d98cf9c","a98e6acb7c4116fc","b24a28e497aac97f","9a72c7bc1f6754fa","a0c99db44598432a","64b86dd3a1c40150","a188a5823a9d3906","cf10dc7b39054bb1"],"x":54,"y":1619,"w":872,"h":362},{"id":"9056ddfab4da441c","type":"ui-gauge-classic","z":"95da4f71825bb1fc","g":"81c59272ffe8392d","name":"Formatted Value example","group":"c4074b104a5595b8","order":0,"width":"3","height":"3","min":"5","max":"30","sectors":[{"start":"5","color":"lightgray"}],"major_division":"5","minor_division":"1","value_decimal_places":1,"scale_decimal_places":0,"label":"","measurement":"","units":"","needles":[{"topic":"pv","color":"brown","lengthPercent":"100"},{"topic":"setpoint","color":"black","lengthPercent":"67"},{"topic":"power","color":"darkgray","lengthPercent":"50"}],"sweep_angle":250,"myclass":"","x":790,"y":1780,"wires":[]},{"id":"b9c4203bda10d364","type":"inject","z":"95da4f71825bb1fc","g":"81c59272ffe8392d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pv","payload":"12.5","payloadType":"num","x":150,"y":1660,"wires":[["b24a28e497aac97f"]]},{"id":"154e4a4e46c6439f","type":"inject","z":"95da4f71825bb1fc","g":"81c59272ffe8392d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pv","payload":"27","payloadType":"num","x":150,"y":1700,"wires":[["b24a28e497aac97f"]]},{"id":"bf64dcf64d98cf9c","type":"inject","z":"95da4f71825bb1fc","g":"81c59272ffe8392d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"setpoint","payload":"8","payloadType":"num","x":160,"y":1760,"wires":[["9a72c7bc1f6754fa"]]},{"id":"a98e6acb7c4116fc","type":"inject","z":"95da4f71825bb1fc","g":"81c59272ffe8392d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"setpoint","payload":"23","payloadType":"num","x":160,"y":1800,"wires":[["9a72c7bc1f6754fa"]]},{"id":"b24a28e497aac97f","type":"function","z":"95da4f71825bb1fc","g":"81c59272ffe8392d","name":"Build formattedValue for pv","func":"// formats value to show in Value field,\n// keeping numeric value in payload\nmsg.formattedValue = `${msg.payload.toFixed(1)}°C`\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1680,"wires":[["9056ddfab4da441c"]]},{"id":"9a72c7bc1f6754fa","type":"function","z":"95da4f71825bb1fc","g":"81c59272ffe8392d","name":"Build text for setpoint","func":"// build text for setpoint in measurement field\n// keeping numeric value in payload\nmsg.ui_update = {measurement: `sp ${msg.payload.toFixed(1)}°C`}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1780,"wires":[["9056ddfab4da441c"]]},{"id":"a0c99db44598432a","type":"inject","z":"95da4f71825bb1fc","g":"81c59272ffe8392d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"power","payload":"0","payloadType":"num","x":150,"y":1860,"wires":[["a188a5823a9d3906"]]},{"id":"64b86dd3a1c40150","type":"inject","z":"95da4f71825bb1fc","g":"81c59272ffe8392d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"power","payload":"0.5","payloadType":"num","x":160,"y":1900,"wires":[["a188a5823a9d3906"]]},{"id":"a188a5823a9d3906","type":"function","z":"95da4f71825bb1fc","g":"81c59272ffe8392d","name":"Scale power and build display value","func":"// scales needle value and formats value to show in units field,\n// keeping numeric value in payload\nmsg.ui_update = {units: `pwr ${(100*msg.payload).toFixed(0)}%`}\n// power must be scaled to 5:30\nmsg.payload = msg.payload*25 + 5\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1880,"wires":[["9056ddfab4da441c"]]},{"id":"cf10dc7b39054bb1","type":"inject","z":"95da4f71825bb1fc","g":"81c59272ffe8392d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"power","payload":"0.75","payloadType":"num","x":160,"y":1940,"wires":[["a188a5823a9d3906"]]},{"id":"c4074b104a5595b8","type":"ui-group","name":"Gauge Examples","page":"a56426f48846598a","width":"6","height":"1","order":1,"showTitle":false,"className":"","visible":"true","disabled":"false"},{"id":"a56426f48846598a","type":"ui-page","name":"Gauge Examples","ui":"ID-BASE-1","path":"/examples","icon":"home","layout":"grid","theme":"b6221fc08b602ea9","order":2,"className":"","visible":"true","disabled":"false"},{"id":"ID-BASE-1","type":"ui-base","name":"Dashboard","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-control","ui-notification"]},{"id":"b6221fc08b602ea9","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094ce","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]